# Base de datos (Postgres en tu VPS)
# Ejemplo: postgresql://usuario:password@IP_DE_TU_VPS:5432/barberapp?schema=public&sslmode=require
DATABASE_URL="postgresql://postgres:MATIAS426975@localhost:5432/barberapp?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generar-con-openssl-rand-base64-32"

# Mercado Pago (suscripciones)
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""

# URL pública del sitio (para webhooks y links de reserva)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
